@CHARSET "UTF-8";
<style>
div#wapper body {
    background: #fafafa;
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

div#wapper strong {
    font-weight: bold; 
}

div#wapper em {
    font-style: italic; 
}

div#wapper table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 30px auto;
	text-align: center;
    width: 100%;
}   

div#wapper th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
  	font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000; 
    text-align: center; 
}

div#wapper th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

div#wapper th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

div#wapper th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

div#wapper td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 3px;
    position: relative;
    transition: all 300ms;
}

div#wapper td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

div#wapper td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

div#wapper tr:nth-child(odd) td {
    background: #f1f1f1; 
}

div#wapper tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

div#wapper tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

div#wapper tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

div#wapper hr{
	border: solid 0.5px lightgray;
}

#button{
	background-color: grey;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	width: 150px;
	height: 40px;
}

#button:hover{
	background-color: white;
	color: grey;
}

div#wapper input{
	border: 0px;
	padding-left: 20px;
}

div#wapper textarea{
	width: 100%;
	height: 400px;
	resize: none;
	border: 0px;
	padding-left: 20px;
}
</style>