<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approveMapper">

	<!--01. 일일업무전체목록 -->
	<select id="selectAll" resultType="org.KMLP.domain.ApproveVO">
		select * from approve;
	</select>



	<!-- 02_02. 결재 총 횟수만큼 행 추가 -->
	<insert id="insert">
		insert into approve(a_num, a_id, a_cnt)
		values
		(
		#{a_num}, #{a_id}, #{a_cnt})
	</insert>
	
	<!--02_01. 문서번호, 결재단계, 수신자id로 검색해서 결재상태 변경하기 -->
	<update id="update_condition">
		update approve set a_condition = #{a_condition} where a_num = #{a_num} and (a_cnt = #{a_cnt} and a_id = #{a_id})
	</update>
	
	<!--02_01. 문서번호, 결재단계, 수신자id로 검색해서 결재상태 변경하기 -->
	<update id="update_return_cnt">
		update approve set a_return_cnt = a_return_cnt+1 where a_num = #{a_num} and (a_cnt = #{a_cnt} and a_id = #{a_id})
	</update>
	
	<!--01. 일일업무전체목록 -->
	<select id="select_return_cnt" resultType="int">
		select a_return_cnt from approve where a_num = #{a_num} and (a_cnt = #{a_cnt} and a_id = #{a_id})
	</select>
	
	<!-- 02_02. 반려테이블 행 추가 -->
	<insert id="insert_return">
		insert into approve_return(ar_num, ar_cnt, ar_return_cnt, ar_text, ar_id)
		values
		(	#{ar_num}, #{ar_cnt}, #{ar_return_cnt}, #{ar_text}, #{ar_id}	)
	</insert>
	
	<!-- 06-01. 반려 메시지 리스트 가져오기 -->
	<select id="selectReturnListAll" resultType="org.KMLP.domain.Approve_ReturnVO">
		select * from
		approve_return
		where ar_num = #{ar_num}
		ORDER BY
		ar_date DESC
	</select>
	
	
</mapper>