<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="documentMapper">

	<!--01. 일일업무전체목록 -->
	<select id="selectAll" resultType="org.KMLP.domain.DocumentVO">
		select * from document ORDER
		BY d_date DESC
	</select>



	<!--02_01. 일일업무 업로드 카운팅 +1 -->
	<update id="update_upload_cnt">
		update document_cnt set dc_upload_cnt=dc_upload_cnt+1
	</update>

	<!--02_02. 결재문서 업로드 카운트 가져오기 -->
	<select id="select_upload_cnt" resultType="int">
		select dc_upload_cnt
		from document_cnt
	</select>

	<!-- 02_03. 일일업무데이터삽입 -->
	<insert id="insert">
		insert into document(d_num, d_id, d_dept, d_title,
		d_content,
		d_final_condition, d_final_cnt)
		values
		( #{d_num}, #{d_id},
		#{d_dept}, #{d_title},
		#{d_content}, #{d_final_condition},
		#{d_final_cnt})
	</insert>




	<!--03. 일일업무 내용 -->
	<select id="selectContent" resultType="org.KMLP.domain.DocumentVO">
		select * from document
		where d_num=#{d_num}
	</select>



	<!--04. 일일업무수정 -->
	<update id="update">
		update document set d_title=#{d_title},
		d_content=#{d_content},
		d_final_cnt=#{d_final_cnt}
		where
		d_num=#{d_num}
	</update>



	<!--05. 일일업무삭제 -->
	<delete id="delete">
		delete from document where d_num=#{d_num}
	</delete>


	<!-- 06-01. 발신한 결재서류 리스트(진행중) -->
	<select id="selectSendListAll_ing" resultType="org.KMLP.domain.DocumentVO">
		select * from
		document
		where d_id = #{d_id} and d_final_condition is false
		ORDER BY
		d_date DESC
	</select>

	<!-- 06-02. 발신한 결재서류 리스트(완료) -->
	<select id="selectSendListAll_end" resultType="org.KMLP.domain.DocumentVO">
		select * from
		document
		where d_id = #{d_id} and d_final_condition is true
		ORDER BY
		d_date DESC
	</select>



	<!-- 07-01. 수신한 결재서류 리스트(진행중) -->
	<select id="selectReceiveListAll_ing" resultType="org.KMLP.domain.DocumentVO">
		select *
		from
		document join approve
		on document.d_num = approve.a_num where a_id =
		#{m_id} and ( a_condition is not true and d_now_cnt = a_cnt)
		ORDER BY
		d_date DESC
	</select>

	<!-- 07-02. 수신한 결재서류 리스트-진행중(완료) -->
	<select id="selectReceiveListAll_end" resultType="org.KMLP.domain.DocumentVO">
		select *
		from
		document join approve
		on document.d_num = approve.a_num where a_id =
		#{m_id} and a_condition is true
		ORDER BY d_date DESC
	</select>

	<!-- 08. 발신한 결재서류 리스트(반려) -->
	<select id="selectSendListAll_return" resultType="org.KMLP.domain.DocumentVO">
		select *
		from
		document join approve
		on document.d_num = approve.a_num where d_id =
		#{m_id} and a_condition is false
		ORDER BY d_date DESC
	</select>



	<!-- 09. 미결된 서류 넘버 Map -->
	<select id="selectUnapproveDoc" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select a_num, a_condition from approve where a_id = #{m_id}
		and (a_condition is null or a_condition = false)
	</select>

	<!-- 10. d_now_cnt 업데이트 -->
	<update id="update_now_cnt">
		update document set d_now_cnt = #{d_now_cnt} where
		d_num = #{d_num}
	</update>

	<!-- 11. update_final_condition 업데이트 -->
	<update id="update_final_condition" parameterType="java.lang.String">
		UPDATE document INNER
		JOIN approve
		ON document.d_num = approve.a_num and
		document.d_final_cnt =
		approve.a_cnt
		SET d_final_condition =
		CASE WHEN
		a_condition = true THEN true ELSE false END,
		d_now_cnt =
		CASE WHEN
		d_final_cnt 
		<![CDATA[
		<
		]]>
		d_now_cnt THEN d_now_cnt-1 ELSE d_final_cnt END
		WHERE d_num = #{d_num}
	</update>



</mapper>